extends main
block append nav
    include includes/toolbar-top
block jumbotron
block content
    if !user
        .row
            .alert.alert-success
                button.close(type='button' data-dismiss='alert') &times;
                | Login to reveal more functionalities
    .row
        #display
            if table
                table.table.table-hover.header-fixed
                    thead
                        tr
                            th Name
                            th Type
                            th Description
                            th.col-sm-1 Access
                    tbody
                        each val in table
                            if val
                                - val.url = '/wo/'+val.type+'#'+val._id
                                tr.entry(itemscope itemtype=(val.type==='dataset'?'http://schema.org/Dataset':'http://schema.org/WebPage'))
                                    - var name=val.name || '';
                                    - if(name.length>30) {
                                    -   name = name.substring(0,27);
                                    -   name = name + '...';}
                                    td
                                        a(data-toogle='tooltip' title=val.url href=val.url address='true')
                                            = name
                                        //schema.org meta data
                                        meta(itemprop='http://schema.org/name' content=val.name)
                                        meta(itemprop='http://schema.org/url' content=val.url)
                                        meta(itemprop='http://schema.org/provider' content=val.publisher_name)
                                        meta(itemprop='http://schema.org/isBasedOnUrl' content=val.related)
                                        meta(itemprop='http://schema.org/description' content=val.des)

                                    td= val.querytype
                                    //display no more than 50 characters of description
                                    - var des=val.des?val.des:''
                                    - if(des.length>47) {
                                    -   des = val.des.substring(0,50);
                                    -   des = des + '...';}
                                    td
                                        .tp(data-toogle='tooltip' title=val.des)
                                            = des
                                    td
                                        if val.opAcc
                                            span.glyphicon.glyphicon-ok
                                            .hidden true
                                        else
                                            span.glyphicon.glyphicon-remove
                                            .hidden false
        .col-sm-6(style='overflow:auto; float:right;')
            .row#details
            .row#querypan
block footer
    link(href='/css/typeahead.js-bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-editable.css', rel='stylesheet')
    link(href='/css/dataTables.bootstrap.css', rel='stylesheet')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/dataTables.bootstrap.js')
    script(src='/js/jquery.address-1.6.js')
    script(src='/js/bootstrap-editable.min.js')
    script(src='/js/inputs-ext/typeaheadjs/lib/typeahead.js')
    script(src='/js/inputs-ext/typeaheadjs/typeaheadjs.js')
    script(src='/js/catalogue.jade.js')
