doctype html
html(lang='en')
  include includes/head
    //link(href='/css/jquery.dataTables.css', rel='stylesheet')
  body
    include includes/nav
    #wrap
      .container
        .row
          include includes/flash-banner
        .row
          if user
            a.btn.btn-primary.btn-large(href='/add/'+type)= 'Add a '+type
          else
            .hide.alert.alert-info
              = 'Please login to add and edit '+type+'s'
            a.disabled.btn.btn-primary.btn-large(href='/add/'+type)= 'Add a '+type
          div(style='height:30px') 
        .row
          table#display.table.table-striped.table-bordered
            thead
              tr
                th
                th Name
                if type === 'dataset'
                  th Type
                if type == 'visualisation'
                  th Source
                th Publisher
                th Description
            tbody
              if table
                each val in table
                  if val
                    tr
                      td
                        .btn-group
                          i.icon-cog.dropdown-toggle(data-toggle='dropdown' href='#')
                          ul.dropdown-menu
                            //li
                              a(href='#') Details
                            if user
                              li
                                a.edit(href='#' eid=val._id vis=val.opVis.toString() acc=val.opAcc.toString()) Edit
                            else
                              li.disabled
                                a(href='#') Edit
                      - var name=val.name || '';
                      - if(name.length>30) {
                      -   name = name.substring(0,27);
                      -   name = name + '...';}
                      td.span3
                        if(val.opAcc)
                          a.tp(href=(type==='visualisation'?val.url:'/query/'+val.querytype+'/'+val._id) data-toogle='tooltip' title='Click to access')= name
                        else
                          a.tp(href=(type==='visualisation'?val.url:'/reqacc/'+val._id) data-toogle='tooltip' title='Private entry. Click to request access')= name
                      if type == 'dataset'
                        td
                          = val.querytype
                      if type == 'visualisation'
                        td
                          = val.related
                      td
                        = val.publisher
                      //display no more than 20 characters of description
                      - var des=''
                      - if(val.des!=='') {
                      -   des = val.des.substring(0,50);
                      -   des = des + '...';}
                      td
                        .tp(data-toogle='tooltip' title=val.des)
                          = des
            tfoot
              tr
                th
                th Name
                if type === 'dataset'
                  th Type
                if type == 'visualisation'
                  th Source
                th Publisher
                th Description

          #editModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h3#myModalLabel= 'Edit the selected '+type
              p.help-block Blank field will remain unchanged
            .modal-body
              form#editForm.form-horizontal(action='/edit', method='post')
                fieldset
                  // Text input
                  .control-group
                    label.control-label(for='name') Name
                    .controls
                      input.input-xlarge(name='name' type='text', placeholder='Title of the '+type, required='')
                      p.help-block= 'Edit the name of your '+type
                      input#eid.hide.input-xlarge(name='eid' required='')
                  // Text input
                  .control-group
                    label.control-label(for='url') Location
                    .controls
                      input.input-xlarge(name='url' type='text', placeholder='http://address-of-your-entry')
                      p.help-block= 'Edit the URL of your '+type
                  // Textarea
                  .control-group
                    label.control-label(for='desc') Description
                    .controls
                      textarea.input-xlarge(name='des')
                      p.help-block= 'Change the description of your '+type
            .modal-footer
              button#cancel.btn(data-dismiss='modal', aria-hidden='true') Cancel
              button#submit.btn.btn-primary Save
          div(style='height:30px') 
      #push
    include includes/footer

