!!! 5
html(lang='en')
  include includes/head
    link(href='/css/jquery.dataTables.css', rel='stylesheet')
  body
    include includes/nav
    #wrap
      .container
        .row
          a.btn.btn-primary.btn-large(href='#myModal', role='button', data-toggle='modal') Add a dataset
          // Modal
          #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h3#myModalLabel Add a new dataset
            .modal-body
              form#adddata.form-horizontal(action='/wo/datasets', method='post')
                fieldset
                  // Text input
                  .control-group
                    label.control-label(for='title') Title
                    .controls
                      input.input-xlarge(name='title' type='text', placeholder='Title of the dataset', required='')
                  // Text input
                  .control-group
                    label.control-label(for='url') Address
                    .controls
                      input.input-xlarge(name='url' type='text', placeholder='The URL where your dataset can be accessed', required='')
                  // Select Basic
                  .control-group
                    label.control-label(for='type') Interface
                    .controls
                      select(name='type')
                        option SPARQL
                        option MongoDB
                        option RAGLD
                  // Textarea
                  .control-group
                    label.control-label(for='desc') Description
                    .controls
                      textarea.input-xlarge(name='desc' placeholder='A brief description of your dataset')
                  // Security 
                  .control-group
                    label.control-label(for='access') Security Settings
                    .controls
                      label.checkbox(for='access-0')
                        input#access-0(type='checkbox', name='visible', value=true)
                        | Visible to public
                      p.help-block Whether this dataset will be seen by everyone. You can change the visibility later in your profile.
                      label.checkbox(for='access-1')
                        input#access-1(type='checkbox', name='readable', value=true)
                        | Readable to public
                      p.help-block Whether this dataset can be queried by everyone. You can change the readability later in your profile.
            .modal-footer
              button#cancel.btn(data-dismiss='modal', aria-hidden='true') Cancel
              button#submit.btn.btn-primary Submit
          div(style='height:30px')
        .row
          table#display.table.table-bordered.table-hover
            thead
              tr
                th Title
                th Type
                th Description
                th Publisher email
            tbody
              each val, index in table
                tr
                  td
                    a.tp(href=val.url interface=val.type data-toogle='tooltip' title=val.url)= val.title
                  td.span1= val.type
                  td= val.desc
                  td.span3
                    a(href='mailto:'+val.publisher data-toogle='tooltip' title=val.publisher)= val.publisher
            tfoot
              tr
                th Title
                th Type
                th Description
                th Publisher email
        #query-frame.row  
      #push
    include includes/footer

