!!! 5
html(lang='en')
  include includes/head
    
    link(href='/css/jquery.dataTables.css', rel='stylesheet')
  body
    include includes/nav
    #wrap
      .container
        .row
          include includes/flash-banner
        .row
          a.btn.btn-primary.btn-large(href='#myModal', role='button', data-toggle='modal') Add a dataset
          button#req.btn.btn-info.btn-large.pull-right.hide Request
          // Modal
          #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h3#myModalLabel Add a new dataset
            .modal-body
              form#adddata.form-horizontal(action='/wo/datasets', method='post')
                fieldset
                  // Text input
                  .control-group
                    label.control-label(for='title') Title
                    .controls
                      input.input-xlarge(name='title' type='text', placeholder='Title of the dataset', required='')
                  // Text input
                  .control-group
                    label.control-label(for='url') Address
                    .controls
                      input.input-xlarge(name='url' type='text', placeholder='http://address-of-your-dataset', required='')
                      p.help-block The URL where your dataset can be accessed/queried                 
                  // Text input
                  .control-group
                    label.control-label(for='creator') Creator
                    .controls
                      input.input-xlarge(name='creator' type='text', placeholder='Creator name')
                      p.help-block The person who created this entry. This can be different from the one who publish the entry
                  // Select Basic
                  .control-group
                    label.control-label(for='type') Interface
                    .controls
                      select(name='type')
                        option SPARQL
                        option MongoDB
                        option RAGLD
                  // Textarea
                  .control-group
                    label.control-label(for='desc') Description
                    .controls
                      textarea.input-xlarge(name='desc' placeholder='A brief description of your dataset')
                  // Security 
                  .control-group
                    label.control-label(for='access') Security Settings
                    .controls
                      label.checkbox(for='read')
                        input#private(type='checkbox', name='readable', value='false')
                        | Private dataset
                      p.help-block Private dataset; I wish to authorise individual users to access this dataset.
                      label#visible.hide.checkbox(for='visible')
                        input(type='checkbox', name='visible', value='false')
                        | Do not list my private dataset in the datasets directory
                      //p.help-block Do not list my private dataset in the datasets directory
            .modal-footer
              button#cancel.btn(data-dismiss='modal', aria-hidden='true') Cancel
              button#submit.btn.btn-primary Submit
          div(style='height:30px')
        .row
          table#display.table.table-bordered.table-hover
            thead
              tr
                th Title
                th 
                  .text-center Type
                th Description
                th 
                  .text-center Publisher email
                th.tp(data-toogle='tooltip' title='Can be queried') Access
            tbody
              if table
                each val in table
                  if val
                    - var tf = val.readable === 'true'
                    tr(class= tf? 'alert-success':'alert-error')
                      td
                        a.tp(href=val.title id=val.url interface=val.type data-toogle='tooltip' title='Click to query')= val.title
                      td.span1
                        .text-center= val.type
                      td= val.desc
                      td.span2
                        .text-center
                          a(href='mailto:'+val.publisher data-toogle='tooltip' title=val.email)= val.email
                      td.span1
                        if(tf)
                          i.icon-ok
                        else  
                          i.icon-remove
                          input.tp.req(style='margin-top: 0; line-height: normal' type='checkbox' name='ids' value=val.url data-toogle='tooltip' title='Request access')
            tfoot
              tr
                th Title
                th
                  .text-center Type
                th Description
                th
                  .text-center Publisher email
                th Access
        form.hide#reqform(action='/dataset/reqaccess' method='post')
        .span7.row  
          #query-frame
          #result
      #push
    include includes/footer
