extends main

block content

    .col-md-3
        .row
            h2= etry.type.toUpperCase() + ': ' + etry.name
            //| Statistics will show here
    .col-md-9
        .row
            h2
            button#edittog.btn.btn-default Enable editting
        .row
            table.table.table-bordered.table-striped
                tbody
                    tr
                        td Name
                        td
                            a.editable.editable-click#name(data-type='text' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Name of the entry' data-title='Edit name')= etry.name
                            tr
                            td URL
                            td
                            a.editable.editable-pre-wrapped.editable-click#url(data-type='url' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='URL of the entry' data-title='Edit URL')= etry.url
                            .row
                            a#optogl(data-toggle='collapse' data-target='#moreopt')
                | Toggle additional fields
                span.glyphicon.glyphicon-chevron-down
            #moreopt.collapse
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td Creator
                            td
                                a.editable.editable-pre-wrapped.editable-click#creator(data-type='text' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Creator of the entry' data-title='Edit creator')=etry.creator
                                //tr
                                  td Publisher
                                  td
                                    a.editable.editable-pre-wrapped.editable-click#publisher(data-type='' data-pk=etry._id data-placeholder='Description of the entry' data-title='Edit description')
                                if etry.type === 'visualisation'
                                tr
                                td Related dataset
                                td
                                a.editable.editable-open.editable-click#related(data-type='typeaheadjs' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Based on which dataset this visualisation is produced' data-title='Edit related dataset')=etry.related
                                tr
                                td Github address
                                td
                                a.editable.editable-pre-wrapped.editable-click#git(data-type='url' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Git address of the entry' data-title='Edit git address')=etry.git
                                if etry.type === 'dataset'
                                tr
                                td Query protocol
                                td
                                a.editable.editable-pre-wrapped.editable-click#querytype(data-type='select' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Query interface of the entry' data-title='Edit query protocol')
                                tr
                                td Keywords
                                td
                                a.editable.editable-pre-wrapped.editable-click#kw(data-type='textarea' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Keywords of the entry, separated by ","' data-title='Edit keywords')=etry.kw
                                tr
                                td Description
                                td
                                a.editable.editable-pre-wrapped.editable-click#des(data-type='textarea' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Description of the entry' data-title='Edit description')=etry.des
                                //if etry.vis && etry.acc
                                  tr
                                    td Access control
                                    td
                                      a.editable.editable-pre-wrapped.editable-click#acc(data-type='checklist' data-pk=etry._id data-url='/detail/' + etry._id data-title='Edit access control')

                                block footer

                                //link(href='/css/ui-lightness/jquery-ui-1.10.3.custom.css', rel='stylesheet')
                                script(src='/js/jqBootstrapValidation.js')
    //script(src='/js/jquery-ui-1.10.3.min.js')
    script(src='/js/bootstrap-editable.min.js')
    link(href='/css/typeahead.js-bootstrap.css', rel='stylesheet')
    script(src='/js/inputs-ext/typeaheadjs/lib/typeahead.js')
    script(src='/js/inputs-ext/typeaheadjs/typeaheadjs.js')
    script(src='/js/detail.deprecated.jade.js')
