!!! 5
// required data: user.username | user.email; msg.request; msg.general; owned.dataset; requested
html(lang='en')
  include includes/head
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    include includes/nav
    #wrap
      .container
        .row
          .span3.bs-docs-sidebar
            ul.nav.nav-list.bs-docs-sidenav.affix
              li
                a(href='#account')
                  | Account settings
                  i.icon-chevron-right 
              li
                a(href='#dataset')
                  | Dataset management
                  i.icon-chevron-right 
              li
                a(href='#msgbox')
                  | Messages
                  i.icon-chevron-right 
          .span9
            include includes/flash-banner
            section#account
              .page-header
                h1 Account settings
              form.form-horizontal(method='post' action='/profile')
                fieldset
                  label Change user name
                  .control-group
                    label.control-label New name
                    .controls
                      input(type='text' name='username' placeholder= user.username?user.username:'Input a new user name')
                  label Change password
                  .control-group
                    label.control-label Current password
                    .controls
                      input(type='password' name='oldpas')
                  .control-group
                    label.control-label New password
                    .controls
                      input(type='password' name='newpas')
                  .control-group
                    .controls
                      button.btn.btn-primary(type='submit') Save
            section#dataset
              .page-header
                h1 Dataset management
              ul.nav.nav-tabs
                li.active
                  a(href='#owner', data-toggle='tab') As owner
                li
                  a(href='#viewer', data-toggle='tab') As viewer
                li
                  a(href='#msg', data-toggle='tab') Requests (#{msg.requests?msg.requests.length:0})
              .tab-content
                .tab-pane.active#owner
                  h2 Owned datasets
                  form.form-horizontal(method='post' action='/user/dsmng')
                    fieldset
                      if owned && owned.length != 0
                        each entry in owned
                          .control-group    
                            label.control-label= entry.title
                            .controls
                              label.checkbox Private
                                - var chk = entry.readable === false?'checked':undefined
                                input(type='checkbox' checked=chk value=entry._id)
                        .control-group
                          .controls
                            button.btn.btn-primary(type='submit') Confirm
                .tab-pane#viewer
                  if requested && requested.length != 0
                    requested
                    h2 Requested datasets
                    form.form-horizontal(method='post' action='/dataset/access')
                      fieldset
                        each entry in requested
                          .control-group
                            .controls
                              label.checkbox= entry.title
                                input(name='ids' value=entry._id type='checkbox')
                        .control-group
                          .controls
                            button#req.btn.btn-primary(type='submit') Request access again
                  if visible
                    h2 Visible datasets & visualisations
                    each entry in visible
                      p= entry.title
                  if readable
                    h2 Accessible datasets
                      p= entry.title

                .tab-pane#msg
                  form.form-horizontal(method='post' action='/dataset/approve')
                    fieldset
                      input#clrflag.hide(name='clr')
                      if msg && msg.requests
                        each m in msg.requests
                          p User #{m.sender} requested access to dataset #{m.dataset[0].title}
                          input(type='checkbox' name='reqids' value= m._id)
                        .control-group
                          .controls
                            button.btn.btn-danger#clear Deny

                            button.btn.btn-primary#approve Approve
            section#msgbox
              .page-header
                h1 Messages
              if msg && msg.general
                each m in msg.general
                  p= m.content
                  input(type='checkbox' value= m._id)
      #push
    include includes/footer
