doctype html
html(lang='en')
    include includes/head
    link(href='/css/dashboard.css', rel='stylesheet')
    body(data-spy='scroll', data-target='.sidebar')
        include includes/nav
        #wrap
            .container-fluid
                .row
                    .col-md-2.sidebar
                        ul.nav.nav-stacked.nav-pills
                            li
                                a(href='#account')
                                    | Account settings
                            li
                                a(href='#owneddataset')
                                    | Published entries
                            li
                                a(href='#requesteddataset')
                                    | Reuests sent
                            li
                                a(href='#requests')
                                    | Requests received
                            li
                                a(href='#clients')
                                    | Applications
                            li
                                a(href='#msgbox')
                                    | Inbox

                    .col-md-10.col-md-offset-2.main
                        include includes/flash-banner
                        .row#account
                            .page-header
                                h1 Account settings
                                h4
                                    .glyphicon.glyphicon-user
                                    =user.email
                            form.form-horizontal(method='post' action='/profile')
                                .form-group
                                    label.col-md-2.control-label First name
                                    .col-md-3
                                        input.form-control(type='text' name='fn' placeholder= user.firstName?user.firstName:'')
                                .form-group
                                    label.col-md-2.control-label Last name
                                    .col-md-3
                                        input.form-control(type='text' name='ln' placeholder= user.lastName?user.lastName:'')
                                .form-group
                                    label.col-md-2.control-label Current password
                                    .col-md-3
                                        input.form-control(type='password' name='oldpw')
                                .form-group
                                    label.col-md-2.control-label New password
                                    .col-md-3
                                        input.form-control(type='password' name='newpw')
                                .form-group
                                    .col-md-3.col-md-offset-2
                                        button.btn.btn-primary(type='submit') Save
                        .row#owneddataset
                            .page-header
                                h1 Published entries (#{owned?owned.length:0})
                            if owned && owned.length != 0

                            table#display.table.table-striped
                                thead
                                    tr
                                        th
                                        th Name
                                        th Type
                                        th Description
                                        th Displayed
                                        th Accessible
                                tbody
                                    if owned
                                        each val in owned
                                            if val
                                                tr
                                                    td
                                                        .btn-group
                                                            .glyphicon.glyphicon-cog.dropdown-toggle(data-toggle='dropdown' href='#')
                                                            ul.dropdown-menu
                                                                //li
                                                                  a(href='#') Details
                                                                li
                                                                    a.edit(href='/edit/'+val._id) Edit
                                                                li.divider
                                                                li.btn-danger
                                                                    a.del(href='/remove/'+val._id name=val.name) Delete
                                                    - var name=val.name || '';
                                                    - if(name.length>30) {
                                                    -   name = name.substring(0,27);
                                                    -   name = name + '...';}
                                                    td.col-md-3
                                                        a.tp(data-toogle='tooltip' title=val.url)= name
                                                    td= (val.type === 'dataset'?val.querytype:val.type)
                                                    //display no more than 20 characters of description
                                                    - var des=val.des?val.des:''
                                                    - if(des.length>47) {
                                                    -   des = val.des.substring(0,50);
                                                    -   des = des + '...';}
                                                    td
                                                        .tp(data-toogle='tooltip' title=val.des)
                                                            = des
                                                    td
                                                        if val.opVis
                                                            .glyphicon.glyphicon-ok
                                                        else
                                                            .glyphicon.glyphicon-remove
                                                    td
                                                        if val.opAcc
                                                            .glyphicon.glyphicon-ok
                                                        else
                                                            .glyphicon.glyphicon-remove
                                tfoot
                                    tr
                                        th
                                        th Name
                                        th Type
                                        th Description
                                        th Displayed
                                        th Accessible

                                #delModal.modal.fade
                                    .modal-dialog.modal-md
                                        .modal-content
                                            .modal-header
                                            .modal-body
                                            .modal-footer
                                                button.btn.btn-warning(data-dismiss='modal', aria-hidden='true') Cancel
                                                a#del.btn.btn-danger(href='#') Confirm
                        .row#requesteddataset
                            .page-header
                                h1 Requests sent (#{requested?requested.length:0})
                            if requested && requested.length != 0
                                form.form-horizontal(method='post' action='/reqacc')
                                    fieldset
                                        .form-group
                                            lable.control-label Re-send access requests
                                        each entry in requested
                                            .form-group
                                                .checkbox
                                                    label= entry.name
                                                        input(name='ids' value=entry._id type='checkbox')
                                        .form-group
                                            .col-md-3
                                                button#req.btn.btn-primary(type='submit') Request

                        .row#requests
                            .page-header
                                h1 Requests received (#{pending && pending?pending.length:0})
                            if pending && pending.length != 0
                                form.form-horizontal(method='post' action='/aprvacc')
                                    input.form-control#clrflag.hide(name='deny')
                                    each m in pending
                                        .form-group
                                            .col-md-offset-2
                                                .checkbox
                                                    label
                                                        = 'User '+m.sender+' requested access to '+m.entry.type+' '
                                                        a.tp(title=m.entry.url)= m.entry.name

                                                        input(type='checkbox' name='reqids' value= m._id)
                                    .form-group
                                        .col-md-3.btn-toolbar
                                            button.btn.btn-primary#approve Approve
                                            button.btn.btn-danger#clear Deny
                        .row#clients
                            .page-header
                                h1 Applications (#{user.clients?user.clients.length:0})
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th Name
                                        th ID
                                        th Secret
                                        th Callback URI
                                tbody
                                    if(0 === user.clients.length)
                                        tr
                                            td
                                                .btn-group
                                                    .glyphicon.glyphicon-cog.dropdown-toggle(data-toggle='dropdown' href='#')
                                                    ul.dropdown-menu
                                                        li
                                                            a(data-toggle='modal' data-target='#app-create-modal') Create
                                    each val in user.clients
                                        tr
                                            td
                                                .btn-group
                                                    .glyphicon.glyphicon-cog.dropdown-toggle(data-toggle='dropdown' href='#')
                                                    ul.dropdown-menu
                                                        li
                                                            a(data-toggle='modal' data-target='#app-create-modal') Create
                                                        //li
                                                          a.app-edit.disabled(href='#' name=val.name) Edit
                                                        li.divider
                                                        li.btn-danger
                                                            a.del(href='/client/'+ val._id + '/delete' name=val.name) Delete
                                            td= val.name
                                            td= val._id
                                            td= val.clientSecret
                                            td= val.redirectURI
                            #app-create-modal.modal.fade
                                .modal-dialog.modal-md
                                    .modal-content
                                        .modal-header Create a new application
                                        .modal-body
                                            form#newapp(method='get' action='/client/create')
                                                .form-group
                                                    label Name
                                                    input.form-control(name='name' placeholder='Name of your new app')
                                                .form-group
                                                    label Callback URI
                                                    input.form-control(name='callback' placeholder='Callback URI of your new app')

                                                .form-group
                                                    .btn-group
                                                        button#app-create.btn.btn-success(type='submit') Create
                                                        button.btn.btn-warning(data-dismiss='modal', aria-hidden='true') Cancel

                            //button#newapp.btn.btn-default New app
                        .row#msgbox
                            .page-header
                                h1 Inbox (#{msg?msg.length:0})
                            form.form-horizontal(method='post' action='/profile/message')
                                if msg && msg.length != 0
                                    each m in msg
                                        .form-group
                                            .col-md-3.col-md-offset-2
                                                .checkbox
                                                    label
                                                        = m.content
                                                        input(type='checkbox' name='msgid' value= m._id)
                                    .form-group
                                        .col-md-3.col-md-offset-2
                                            button.btn.btn-danger Clear
            #push
        include includes/footer
        //link(href='/css/datatables.css', rel='stylesheet')
        //script(src='/js/jquery.dataTables.min.js')
        //script(src='/js/bt3datatables.js')
        script(src='/js/profile.jade.js')
