doctype html
// required data: user.username | user.email; msg.request; msg.general; owned.dataset; requested
html(lang='en')
  include includes/head
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    include includes/nav
    #wrap
      .container
        .row
          .span3.bs-docs-sidebar
            ul.nav.nav-list.bs-docs-sidenav.affix
              li.nav-header
                | General settings
              li
                a(href='#account')
                  | Account settings
                  i.icon-chevron-right 
              li.nav-header
                | Dataset management
              li
                a(href='#owneddataset')
                  | Published datasets
                  i.icon-chevron-right 
              li
                a(href='#requesteddataset')
                  | Reuests sent
                  i.icon-chevron-right 
              li
                a(href='#requests')
                  | Requests received
                  i.icon-chevron-right 
              li.nav-header
                | Messages
              li
                a(href='#msgbox')
                  | Inbox
                  i.icon-chevron-right 
          .span9
            include includes/flash-banner
            section.row#account
              .page-header
                h1 Account settings
                h4
                  i.icon-user
                  =user.email
              form.span5.form-horizontal(method='post' action='/profile')
                fieldset
                  label Update names
                  .control-group
                    label.control-label First name
                    .controls
                      input(type='text' name='fn' placeholder= user.firstName?user.firstName:'')
                  .control-group
                    label.control-label Last name
                    .controls
                      input(type='text' name='ln' placeholder= user.lastName?user.lastName:'')
                  label Update password
                  .control-group
                    label.control-label Current password
                    .controls
                      input(type='password' name='oldpw')
                  .control-group
                    label.control-label New password
                    .controls
                      input(type='password' name='newpw')
                  .control-group
                    .controls
                      button.btn.btn-primary(type='submit') Save
            section.row#owneddataset
              .page-header
                h1 Published datasets (#{owned?owned.length:0})
              if owned && owned.length != 0
                form#staform.hide(method='post' action='')
                // Modal
                  #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                      h3#myModalLabel Edit a dataset
                    .modal-body
                      form#adddata.form-horizontal(action='/dataset/edit', method='post')
                        fieldset

                          .control-group
                            input#editurl.hide(name='origurl')
                            label.control-label(for='title') Edit title
                            .controls
                              input.input-xlarge(name='title' type='text' placeholder='Title of the dataset')
                          .control-group
                            label.control-label(for='url') Edit address
                            .controls
                              input.input-xlarge(name='url' type='text' placeholder='http://address-of-your-dataset/sparql')
                              p.help-block The URL where your dataset can be accessed/queried                 
                          .control-group
                            label.control-label(for='creator') Edit creator
                            .controls
                              input.input-xlarge(name='creator' type='text')
                              p.help-block The person who created this entry. This can be different from the one who publish the entry
                          .control-group
                            label.control-label(for='desc') Edit description
                            .controls
                              textarea.input-xlarge(name='desc' placeholder='A brief description of your dataset')
                    .modal-footer
                      button#cancel.btn(data-dismiss='modal', aria-hidden='true') Cancel
                      button#submit.btn.btn-primary Submit
                form.span5.form-horizontal
                  fieldset
                    .control-group
                      label Manage datasets permisions
                    table.table.table-bordered.table-hover
                      thead
                        tr
                          th Title
                          th URL
                          th Private
                          th Remove
                      tbody
                        each entry in owned
                          tr
                            td.span2= entry.title
                            td.span2= entry.url
                            - var chk = !entry.readable?'checked':undefined
                            td.span1
                              input.prt(type='checkbox' checked=chk name=entry._id value='private')
                            td.span1
                              input(type='checkbox' name='remove' value=entry._id)
                    .control-group
                      .controls.btn-toolbar
                        button#status.btn.btn-primary(type='submit') Change
                        button#rmdt.btn.btn-danger(type='submit') Remove
            section.row#requesteddataset
              .page-header
                h1 Reuests sent (#{requested?requested.length:0})
              if requested && requested.length != 0
                form.span5.form-horizontal(method='post' action='/dataset/reqaccess')
                  fieldset
                    .control-group
                      lable.control-label Re-send access requests
                    each entry in requested
                      .control-group
                        .controls
                          label.incline.checkbox= entry.title
                            input(name='ids' value=entry._id type='checkbox')
                    .control-group
                      .controls
                        button#req.btn.btn-primary(type='submit') Request
              if visible
                h2 Visible datasets & visualisations
                each entry in visible
                  p= entry.title
              if readable
                h2 Accessible datasets
                  p= entry.title

            section.row#requests
              .page-header
                h1 Requests received (#{msg && msg.requests?msg.requests.length:0})
              if msg && msg.requests && msg.requests.length != 0
                form.span5.form-horizontal(method='post' action='/dataset/approve')
                  fieldset
                    input#clrflag.hide(name='clr')
                    each m in msg.requests
                      .control-group
                        .controls
                          label.checkbox User #{m.sender} requested access to dataset #{m.dataset[0].title}
                            input(type='checkbox' name='reqids' value= m._id)
                    .control-group
                      .controls.btn-toolbar
                        button.btn.btn-primary#approve Approve
                        button.btn.btn-danger#clear Deny
            section.row#msgbox
              .page-header
                h1 Inbox (#{msg && msg.general?msg.general.length:0})
              form.span5.form-horizontal(method='post' action='/profile/message')
                fieldset
                  if msg && msg.general && msg.general.length != 0
                    each m in msg.general
                      .control-group
                        .controls
                          label.checkbox
                            = m.content
                            input(type='checkbox' name='msgid' value= m._id)
                    .control-group
                      .controls
                        button.btn.btn-danger Clear
      #push
    include includes/footer
