extends main
block append nav
    include includes/toolbar-top
block jumbotron
block content

    //mixin declaration

    mixin search(attr)
      td
        span(id = attr data-type = 'text' data-pk = etry._id data-url = '/proj-detail/' + etry._id data-placeholder = attr + ' of the entry' data-title = attr + ' of the entry')= etry[attr]
        if(( attr === 'publisher_name' || attr === 'mediatype' || attr === 'lice') && etry[attr])
          |  
          a(data-toggle='tooltip' title='Search for the same attribute' href='/wo/' + etry.category + '/?' + attr + '=' + etry[attr])
            span.glyphicon.glyphicon-search


    .col-sm-6
        table.xedit.table.table-bordered.table-striped
            thead
                tr
            tbody
                tr
                    td.col-md-1 ID
                    td
                       span(id = '_id' data-pk = etry._id data-url = '/proj-detail/' + etry._id data-placeholder ='_id' + ' of the entry' data-title = '_id' + ' of the entry')= etry['_id'] 
                tr
                  td.col-md-1 Project title
                  +search('name')
                tr
                  td Homepage
                  +search('url')
                tr
                  td YouTube
                  +search('youtube')
                tr
                  td Github address
                  +search('git')

                tr
                  td Related dataset
                  +search('relatedDataset')
                tr
                  td Related app
                  +search('relatedApp')

                tr
                  td Description
                  +search('des')

                tr
                  td Publications
                  td 
                      each pub,index in etry.publication
                          div
                              a(href=etry.publicationurl[index]) #{pub}
 

                tr
                  td Keywords
                  +search('kw')

                tr
                  td Creator
                  +search('creator_name')
                tr
                  td Member
                  +search('member_name')




                tr
                    td Security
                    td
                        span#opVis(data-type='select' data-pk=etry._id data-url='/proj-detail/' + etry._id data-placeholder='Who can join the project?' data-title='Edit access permision' data-value=etry.opVis ? 1 : 0)

    .col-sm-6
        a.btn.btn-primary(href="/wo/j/project/"+etry._id) Join


    span.hidden(name='type' value=etry.type)
    if etry.category === 'visualisation' || etry.mediatype === 'HTML'
        span#url.hidden(value=etry.url)

    if etry.isOwner
        script.
            $('#edit').removeClass('hidden');

    link(href='/css/bootstrap-editable.css', rel='stylesheet')
    link(href='/css/select2.css', rel='stylesheet')
    link(href='/css/select2-bootstrap.css', rel='stylesheet')


    script.
        $('[data-toggle="tooltip"]').tooltip()
    
    script(src='/js/bootstrap-editable.min.js')
    script(src='/js/proj-detail.jade.js')
    script(src='/js/select2.js')

