extends main
block append nav
    include includes/toolbar-top
block jumbotron
block content

    //mixin declaration

    mixin search(attr)
      td
        span(id = attr data-type = 'text' data-pk = etry._id data-url = '/detail/' + etry._id data-placeholder = attr + ' of the entry' data-title = attr + ' of the entry')= etry[attr]
        if((attr === 'creator' || attr === 'publisher_name' || attr === 'mediatype' || attr === 'lice') && etry[attr])
          |  
          a(data-toggle='tooltip' title='Search for the same attribute' href='/wo/' + etry.category + '/?' + attr + '=' + etry[attr])
            span.glyphicon.glyphicon-search


    .col-sm-6
        table.xedit.table.table-bordered.table-striped
            thead
                tr
            tbody
                tr
                  td.col-md-1 ID
                  +search('_id')
                tr
                  td.col-md-1 Name
                  +search('name')

                if etry.isOwner
                  tr
                    td URL
                    +search('url')
                tr
                  td Creator
                  +search('creator')
                tr
                    td Publisher
                    +search('publisher_name')
                tr
                    td Related dataset
                    +search('related')

                if etry.type === 'visualisation'
                    tr
                      td Github address
                      +search('git')

                tr
                  td Keywords
                  +search('kw')

                tr
                  td Description
                  +search('des')


                if etry.type === 'dataset'
                  tr
                    td QueryInfo
                    +search('queryinfo')

                tr
                    td Shown to
                    td
                        span#opVis(data-type='select' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Who can see this entry?' data-title='Edit visibility permision' data-value=etry.opVis ? 1 : 0)

                tr
                    td Access
                    td
                        span#opAcc(data-type='select' data-pk=etry._id data-url='/detail/' + etry._id data-placeholder='Who can access this entry?' data-title='Edit access permision' data-value=etry.opAcc ? 1 : 0)

    .col-sm-6
        if etry.haveAcc || etry.isOwner
            |!{qrypanl}

    span.hidden(name='type' value=etry.type)
    if etry.category === 'visualisation' || etry.mediatype === 'HTML'
        span#url.hidden(value=etry.url)

    if etry.isOwner
        script.
            $('#edit').removeClass('hidden');


    script.
        $('[data-toggle="tooltip"]').tooltip()
    
    script(src='/js/proj-detail.jade.js')

