extends main

block jumbotron
  if result
  else 
    include includes/site-banner

block content
  .row
    form(action='/search', method='get')
      .form-group
        .ui-widget
          input#search.form-control.input-xlarge(name='keyword' type='text' required='' placeholder='Search for datasets')
  .row
    if(entries && 0 !== entries.length)
      p= entries.length + ' record(s) found'
      table#display.table.table-striped.table-hover
        thead
          tr
            th Name
            th.col-md-2 Type
            th.col-md-2 Publisher
            th Description
            th.col-md-1 Access
        tbody
            each val in entries
              if val
                tr(itemscope itemtype=(type==='dataset'?'http://schema.org/Dataset':'http://schema.org/WebPage'))
                  - var name=val.name || '';
                  - if(name.length>30) {
                  -   name = name.substring(0,27);
                  -   name = name + '...';}
                  td
                    if(val.opAcc)
                      a.tp(href=(type==='visualisation'?val.url:'/query/'+val.querytype+'/'+val._id+'/'+val.name) data-toogle='tooltip' title='Click to access')= name
                    else
                      a.tp(href=(type==='visualisation'?val.url:'/reqacc/'+val._id) data-toogle='tooltip' title='Private entry. Click to request access')= name
                    meta(itemprop='http://schema.org/name' content=val.name)
                  td= val.querytype
                  td(itemprop='http://schema.org/provider')
                    = val.publisher_name?val.publisher_name:'N/A'
                  //display no more than 50 characters of description
                  - var des=val.des?val.des:''
                  - if(des.length>47) {
                  -   des = val.des.substring(0,50);
                  -   des = des + '...';}
                  td
                    .tp(data-toogle='tooltip' title=val.des)
                      = des
                    meta(itemprop='http://schema.org/description' content=val.des)
                  td
                    if val.opAcc
                      span.glyphicon.glyphicon-ok
                    else 
                      span.glyphicon.glyphicon-remove
        tfoot
          tr
            th Name
            th Type
            th Publisher
            th Description
            th Access

block append footer
  link(href='/css/ui-lightness/jquery-ui-1.10.3.custom.css', rel='stylesheet')
  script(src='/js/jquery-ui-1.10.3.min.js')
  script(src='/js/search.jade.js')
